.merveille {
	border: 3px solid black;
	height: 200px;
	width: 100%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.merveille h3 {
	background-color: hsla(80, 00%, 100%, 0.7);
	text-align: center;
}

.merveille .cout {
	text-align: center;
	margin: 0px;
}

.merveille .cout .img {
	margin: 1px;
}

.merveille .texte {
	background-color: white;
}

.etage {
	border: 3px solid hsla(120, 60%, 80%, 0.9);
	height: 60px;
	width: 32.333%;
	margin:0.5%;
	float: left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: hsla(120, 100%, 50%, 0.7);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 5px;
}

.etage .construit {
	background-color: grey;
}